* {
	padding: 0px;
	margin: 0px;
	font-family: arial;
	font-weight: 500;
}

nav:first-child {
	background-color: #222222;
	padding: 15px 35px;
}

nav ul {
	list-style: none;
	padding: 0px;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

aside li {
	display: block;
}

nav:first-child a {
	text-decoration: none;
	color: #9d9d9d;
}

a {
	color: #337ab7;
	text-decoration: none;
}


h2 {
	margin-bottom: 20px;
}

main {
	margin: 10px 35px; 
}

footer {
	margin: 50px 35px;
}

section {
	float: left;
	margin-right: 50px;
	width: 620px;
	margin-top: 10px;
}


section > header {
	margin: 30px 0px;
}

article > header {
	margin: 20px 0px;
}

article > img {
	width: 620px;
	max-height: 300px;
	margin: 15px 0px;
}

article > p {
	margin: 15px 0px;
}

aside {
	background-color: #f5f5f5;
	float: left;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	padding: 20px;
	margin-top: 20px;
	width: 220px;
}

body {
	margin: auto;
}

aside > header {
	margin: 5px 0px 15px 0px;
}

aside li {
	margin-bottom: 10px;
}

.fix {
	clear: both;
}

p {
	text-align: justify;
}


